NODE_ENV=development
PORT=3000
DATABASE=mongodb://localhost:27017/crm
JWT_SECRET=your-secret-here
EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=your-username
EMAIL_PASSWORD=your-password
